
    
#title {
    height: 80px;
    margin-top: 40px;
    text-align: center;
    
}
#description{
    text-align: center;
    border-style: solid;
    border-radius: 12px;
    border-width: medium;
}



#game-area{
text-align: center;
width: 60%;
margin-top: 60px;
height: 300px;
margin-bottom: 60px;
background-color: lightblue;
margin-left: 20%;
border-radius: 2px;
box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
}

#head-button{
margin-right: 25%;
border-radius: 5px;
font-size: 22px;
}

#tail-button{
margin-left: 25%;
margin-top: 60px;
border-radius: 5px;
font-size: 22px;
}

#head-icon{
    width: 120px;
    height: 120px;
    
}
#tail-icon {
    width: 120px;
    height: 120px;

    
}

#questionmark{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
}

#score-bord{
    text-align: center;
    font-size: 30px;
}


#eng{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding-left: 5px;
}
#swe{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding-right: 5px;
}

#langugage{
    text-align: center;
}