
    
#title {
    height: 80px;
    margin-top: 40px;
    text-align: center;
    
}



#game-area{
text-align: center;
width: 60%;
margin-top: 60px;
height: 300px;
margin-bottom: 60px;
background-color: lightblue;
margin-left: 20%;
border-radius: 2px;
box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
}

#head-button{
margin-right: 25%;
}

#tail-button{
margin-left: 25%;
margin-top: 60px;
}

#head-icon{
    width: 120px;
    height: 120px;
    
}
#tail-icon {
    width: 120px;
    height: 120px;

    
}